*{
  margin: 0;
  font-family: arial;
  border: border-box;
}
.navbar{
  height: 60px;;
  background-color:azure
}
.nav-logo{
   height: 160px; 
  width: 40px;;
}
.logo{
  background-image: url("https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg");
  background-size:cover;
   height:160px; 
  width: 40px;;
}
