.container {
  display: flex;
  flex-direction: row;
  background-color:blue ;
} 

.container div {
 background-color:azure;
  width: 450px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}